@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-5">Welcome</h1>
    <h1 class="display-2 my-5 py-5">EfCoreApp</h1>
    <p class="fixed-bottom">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with
            ASP.NET
            Core</a>.</p>
</div>
